<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<h3> <a href="/resource/listTrack/" style="color:black"> Resouce Tracking </h3>
<table class="table table-striped sortable">
    <thead>
        <tr>
            <th class = "yes" style="width:9%" onclick="sort_table(tbody, 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Count <i class="fa fa-caret-up"></i> </th>
            <th class = "yes" style="width:12%" onclick="sort_table(tbody, 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Date and Time <i class="fa fa-caret-up"></i></th>
            <th class = "yes" style="width:6%">Did it work?  <i class="fa fa-caret-up"></i></th>
            <th class = "yes" style="width:5%">Why?  <i class="fa fa-caret-up"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        {{#each list}}
        <tr>
            <td>{{this.resourceType}}</td>
            <td>{{this.resourceName}}
            <p style="font-size: small"> Show Info <span class="extra">{{this.resourceServices}}</span></p></td>
            <td>{{this.resourcePhone}}</td>
            <td>{{this.resourceAddress}}</td>
            <td>{{this.resourceCity}}</td>
            <td>{{this.resourceState}}</td>
            <td>{{this.resourceZip}}</td>
            <td>{{this.resourceHours}}</td>
            <td>{{this.resourceWebsite}}</td>
            <td>{{this.resourceLink}}</td>
            <td style="display:flex; justify-content:center; align-items:center;">
              <a href="/resource/{{this._id}}"><i class="fa fa-pencil fa-2x" style="color:black; margin-right:10px;" aria-hidden="true"></i></a>
              <a href="/resource/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-2x" style="color:red;" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
var asc1 = -1, asc2 = 1;//varibles to provide ascending and descending order

//tbody is which body to be sorted, col shows according to which column and asc defines whether in ascending order or in descending order
function sort_table(tbody, col, asc) {
    //variable declaration
    var rows = tbody.rows,
        rlen = rows.length,
        arr = new Array(),
        i, j, cells, clen;
    //a 2D array is filled
    // fill the array with values from the table

    for (i = 0; i < rlen; i++) {
        cells = rows[i].cells;
        clen = cells.length;
        arr[i] = new Array();
        for (j = 0; j < clen; j++) {
            arr[i][j] = cells[j].innerHTML;
        }
    }
    // sort the array by the specified column number (col) and order (asc)
    arr.sort(function (a, b) {
        return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
    });
    // replace existing rows with new rows created from the sorted array
    for (i = 0; i < rlen; i++) {
        rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
    }
}
</script>
<style>

.yes:hover {
    cursor:pointer;
    background:#AAA;
}
#c2{
    width:120px;
    height:75px;
    display:block;
    overflow:hidden;
    word-wrap:break-word;

}
table
{
    table-layout: fixed;
    width: 100%;
}

.extra {
    display: none;
}

p:hover .extra {
  transition-timing-function: linear;
  display: inline-block;
}

</style>
<script>
$('.yes').click(function(){
    $(this).find('i').toggleClass('fa fa-caret-up fa fa-caret-down')
});
</script>
